body {
  background-color: black;
}
body img[alt=ovni] {
  width: 10rem;
  display: flex;
  position: relative;
  top: 11rem;
  opacity: 0;
  animation: moveOvni 4s forwards;
  animation-delay: 1s;
}
body .letters {
  display: flex;
  position: absolute;
  top: 18rem;
  left: 4rem;
  color: white;
  font-size: 5rem;
  gap: 10rem;
  justify-content: center;
  text-shadow: 2px 2px 15px gray;
}
body .letters #l {
  opacity: 0;
  animation: letters forwards;
  animation-delay: 1s;
}
body .letters #o {
  opacity: 0;
  animation: letters forwards;
  animation-delay: 1.8s;
}
body .letters #a {
  opacity: 0;
  animation: letters forwards;
  animation-delay: 2.5s;
}
body .letters #d {
  opacity: 0;
  animation: letters forwards;
  animation-delay: 3s;
}
body .letters #i {
  opacity: 0;
  animation: letters forwards;
  animation-delay: 3.4s;
}
body .letters #n {
  opacity: 0;
  animation: letters forwards;
  animation-delay: 4.1s;
}
body .letters #g {
  opacity: 0;
  animation: letters forwards;
  animation-delay: 5s;
}
body .conoceme {
  display: flex;
  position: relative;
  top: 2rem;
  background-color: black;
  width: 100%;
  height: 40rem;
  opacity: 0;
  justify-content: center;
  animation: button 1s forwards;
  animation-delay: 7s;
}
body .conoceme button {
  display: flex;
  width: 8.5rem;
  height: 3rem;
  justify-self: center;
  align-self: center;
  background-color: rgb(21, 21, 21);
  border-radius: 10%;
  box-shadow: 1px 1px 25px gray;
}
body .conoceme button a {
  display: flex;
  position: relative;
  left: 0.6rem;
  align-self: center;
  font-weight: bold;
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
}

@keyframes button {
  100% {
    opacity: 1;
  }
}
@keyframes moveOvni {
  28% {
    opacity: 1;
    transform: translateX(14rem);
  }
  41% {
    opacity: 1;
    transform: translateX(27rem);
  }
  56% {
    opacity: 1;
    transform: translateX(40.5rem);
  }
  70% {
    opacity: 1;
    transform: translateX(52rem);
  }
  84% {
    opacity: 1;
    transform: translateX(64rem);
  }
  100% {
    opacity: 0.5;
    transform: translateX(80rem);
    display: none;
  }
}
@keyframes letters {
  33% {
    opacity: 0.3;
  }
  66% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 480px) {
  .root {
    display: block;
    overflow: hidden;
    width: 40rem;
  }
  .root img[alt=ovni] {
    left: 8rem;
    animation: moveOvniResponsi 5s forwards;
    width: 4rem;
    height: 4rem;
  }
  .root .letters {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    font-size: 1rem;
  }
  .root .conoceme {
    display: flex;
    position: relative;
    top: 2rem;
    right: 8rem;
    background-color: black;
    width: 100%;
    height: 40rem;
    opacity: 0;
    justify-content: center;
    animation: button 1s forwards;
    animation-delay: 7s;
  }
  @keyframes moveOvniResponsi {
    28% {
      opacity: 1;
      transform: translateY(5rem);
    }
    41% {
      opacity: 1;
      transform: translateY(8.5rem);
    }
    56% {
      opacity: 1;
      transform: translateY(11.5rem);
    }
    70% {
      opacity: 1;
      transform: translateY(15rem);
    }
    84% {
      opacity: 1;
      transform: translateY(18rem);
    }
    100% {
      opacity: 0.5;
      transform: translateY(23rem);
      display: none;
    }
  }
}/*# sourceMappingURL=index.css.map */