  body{
    margin: 0rem;
  }

  
  .root {
        // background-color: black;
        background-image: url(../assest/images/gif.webp);
        background-position: center;
        // background-repeat: no-repeat;
        // background-size: cover;
        height: 100vh;
        display: grid;
       grid-template-rows: auto 1fr auto;
    // place-items: center;
    padding-right: .5rem;
    padding-left: .5rem;
       .up{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // background-color: aqua;

        .left{
          display: flex;
          flex-direction: column;
        
          height: 10rem;
          img{
            width: 7.5rem;
          }
          a{
            color: white;
              text-shadow: 1px 1px 18px fuchsia;
              text-decoration: none;
              display: flex;
              flex-direction: column;
              text-align: center;
          }
        }
        .rigth{
           display: grid;
          //  grid-template-columns: 1fr;
            // background-color: aqua;
            height: 10rem;
            img{
              width: 5.5rem;
            
            }
            a{
              color: white;
              text-shadow: 1px 1px 18px fuchsia;
              text-decoration: none;
              display: flex;
              flex-direction: column;
              text-align: center;
            }
        }
       }
.Me{
// background-color: aliceblue;
display: flex;
flex-direction: column;
justify-content: center;
align-self: center;
img{
  width: 12rem;
  height: 12rem;
  border: 2px solid rgba(255, 0, 0, 0);
  border-radius: 80%;
  justify-content: center;
align-self: center;
}
#meAboutMe{
  color: white;
  width: 20rem;
  height: 10rem;
  font-size: 1rem;
  text-align: center;
  justify-content: center;
align-self: center;
padding-top: 1rem;
// opacity: 0;
display: none;
text-shadow: 1px 1px 18px rgba(0, 0, 255, 0.692); 
flex-direction: column;
button{
border: 0;
height: 1.8rem;
width: 5.5rem;
background-color: rgba(62, 27, 74, 0.512);
border-radius: 1rem;
color: white;
display: flex;
font-size: 18px;
padding: 4px;
position: relative;
top: 15rem;
left: 15rem;
text-align: center;
justify-self: center;
cursor: pointer;
transition: .3s;
span{
    // color: antiquewhite;
    display: flex;
    // flex-direction: column;
    position: relative;
    bottom: 1.1rem;
    padding: 16px 24px;
    border-radius: 6px;
  transition: .3s;  
  font-size: .8rem; 
  text-align: center;
  }
}

button:active{
  transform: scale(0.9);
  
}
}
#meAboutMeSpanish{
  color: white;
  width: 20rem;
  height: 10rem;
  font-size: 1rem;
  text-align: center;
  justify-content: center;
align-self: center;
padding-top: 1rem;
// opacity: 0;
display: none;
text-shadow: 1px 1px 18px rgba(0, 0, 255, 0.692); 
flex-direction: column;
}
button{
  border: 0;
  height: 2rem;
  width: 6rem;
  background-color: rgba(62, 27, 74, 0.512);
  border-radius: 1rem;
  color: white;
  display: flex;
  font-size: 18px;
  padding: 4px;
  position: relative;
  top: 15.5rem;
  left: 15rem;
  font-size: 0.8rem; 
  // text-align: center;
  cursor: pointer;
  transition: .3s;
  span{
      // color: antiquewhite;
      display: flex;
      // flex-direction: column;
      position: relative;
      bottom: 1.1rem;
      padding: 16px 24px;
      border-radius: 6px;
    transition: .3s;  
    
    
    }
  }
  
  button:active{
    transform: scale(0.9);
    
  }
}


       .down{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // background-color: aqua;

        .left{
          display: flex;
          flex-direction: column;
        
          height: 10rem;
          img{
            width: 7.5rem;
            
          }
          a{
            color: white;
              text-shadow: 1px 1px 18px fuchsia;
              text-decoration: none;
              display: flex;
              flex-direction: column;
              text-align: center;
          }
        }
        .rigth{
          display: flex;
          flex-direction: column;
        
          height: 10rem;
          img{
            width: 7.5rem;
            
          }
          a{
            color: white;
              text-shadow: 1px 1px 18px fuchsia;
              text-decoration: none;
              display: flex;
              flex-direction: column;
              text-align: center;
          }
        }
       }


       img[alt="astrounatLeft"]:hover,
       img[alt="astrounatRigth"]:hover,
       img[alt="meteoritoLeft"]:hover,
       img[alt="meteoritoRigth"]:hover{
filter: drop-shadow(0 0 20px gray);
       }
      }

      @keyframes letters {

        50%{
          transform: rotateY(180deg);
        }
        
      }


  