body {
  margin: 0rem;
  overflow: hidden;
}

.root {
  background-image: url(../assest/images/gif.webp);
  background-position: center;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding-right: 2rem;
  padding-left: 2rem;
}
.root .up {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.root .up .left {
  display: flex;
  flex-direction: column;
  height: 10rem;
}
.root .up .left img {
  width: 7.5rem;
}
.root .up .left a {
  color: white;
  text-shadow: 0px 0px 15px rgb(255, 255, 255);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.3rem;
}
.root .up .rigth {
  display: grid;
  height: 10rem;
}
.root .up .rigth img {
  width: 5.5rem;
}
.root .up .rigth a {
  color: white;
  text-shadow: 0px 0px 15px rgb(255, 255, 255);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.3rem;
}
.root .Me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.root .Me img {
  width: 12rem;
  height: 12rem;
  border: 2px solid rgba(255, 0, 0, 0);
  border-radius: 80%;
  justify-content: center;
  align-self: center;
}
.root .Me #meAboutMe {
  text-align: center;
  justify-content: center;
  align-self: center;
  padding-top: 1rem;
  display: none;
  font-size: 1rem;
  text-shadow: 1px 1px 18px rgba(0, 0, 255, 0.692);
  flex-direction: column;
  flex-direction: column;
  gap: 2rem;
  color: white;
  width: 20rem;
  height: 10rem;
  font-size: 1.2rem;
  text-align: center;
  justify-content: center;
  align-self: center;
  padding-top: 2.5rem;
  display: none;
  text-shadow: 1px 1px 18px rgba(0, 0, 255, 0.692);
  flex-direction: column;
}
.root .Me #meAboutMe button {
  border: 0;
  height: 1.8rem;
  width: 5.5rem;
  background-color: rgba(211, 56, 82, 0.512);
  border-radius: 1rem;
  color: white;
  display: flex;
  font-size: 18px;
  padding: 4px;
  position: relative;
  top: 22rem;
  left: 15rem;
  cursor: pointer;
  transition: 0.3s;
}
.root .Me #meAboutMe button span {
  display: flex;
  font-weight: bold;
  position: relative;
  bottom: 1.1rem;
  padding: 20px 18px;
  border-radius: 6px;
  transition: 0.3s;
  font-size: 0.8rem;
  text-align: center;
}
.root .Me #meAboutMeSpanish {
  color: white;
  width: 20rem;
  height: 10rem;
  font-size: 1.1rem;
  text-align: center;
  justify-content: center;
  align-self: center;
  padding-top: 2.5rem;
  display: none;
  text-shadow: 1px 1px 18px rgba(0, 0, 255, 0.692);
  flex-direction: column;
}
.root .Me button {
  border: 0;
  height: 1.8rem;
  width: 5.5rem;
  background-color: rgba(211, 56, 82, 0.512);
  border-radius: 1rem;
  color: white;
  display: flex;
  font-size: 25px;
  padding: 4px;
  position: relative;
  top: 20rem;
  left: 15rem;
  cursor: pointer;
}
.root .Me button span {
  display: flex;
  font-weight: bold;
  position: relative;
  bottom: 1.1rem;
  padding: 20px 18px;
  border-radius: 6px;
  transition: 0.3s;
  font-size: 0.8rem;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 0.04rem;
}
.root .Me button:active {
  transform: scale(0.9);
}
.root .down {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.root .down .left {
  display: flex;
  flex-direction: column;
  height: 10rem;
}
.root .down .left img {
  width: 7.5rem;
}
.root .down .left a {
  color: white;
  text-shadow: 1px 1px 18px rgb(255, 255, 255);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.3rem;
}
.root .down .rigth {
  display: flex;
  flex-direction: column;
  height: 10rem;
}
.root .down .rigth img {
  width: 7.5rem;
}
.root .down .rigth a {
  color: white;
  text-shadow: 1px 1px 18px rgb(255, 255, 255);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.3rem;
}
.root img[alt=astrounatLeft]:hover,
.root img[alt=astrounatRigth]:hover,
.root img[alt=meteoritoLeft]:hover,
.root img[alt=meteoritoRigth]:hover {
  filter: drop-shadow(0 0 20px gray);
}

@keyframes letters {
  50% {
    transform: rotateY(180deg);
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@media (max-width: 480px) {
  .root #meAboutMe p,
  .root #meAboutMeSpanish p {
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  .root .putoboton {
    display: flex;
    position: relative;
    bottom: 4rem;
    right: 6.8rem;
  }
}/*# sourceMappingURL=principal.css.map */